// CAES Personnel Directory Styles

.grid-items {
    &.personnel {
        .grid-item-img-container {
            @include reusable.item-img-container(1, 100%);

            img {
                object-position: top;
            }
        }
        .grid-item-grid-info>div:first-child {
            flex-direction: column;
            width: 100%;
            & > * {
              width: 100%;  
            }
        }
    }

}

@media (min-width:600px) {
    .grid-items.personnel {
        .grid-item {
            @include reusable.grid-item(row);
            // max-width: calc((var(--wp--style--global--content-size)/2) - (var(--wp--preset--spacing--50)/2));
        }

        .grid-item-img-container {
            @include reusable.item-img-container(3/4, 35%);
            height: 100%;

            img {
                object-position: center;
            }
        }

        .grid-item-grid-info {
            height: 100%;
            display: flex;
            align-items: center;
            @include reusable.grid-item-info(left);
        }
    }
}