// CAES Personnel Directory Styles

@use '../reusable';

// Personnel columns

.personnel-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--wp--preset--spacing--60);
    grid-row-gap: var(--wp--preset--spacing--60);
    margin-top: var(--wp--preset--spacing--60);

    .personnel-item {
        display: grid;
        height: 100%;
        box-shadow: 0 0 15px rgb(0 0 0 / 5%);
        @include reusable.grid-item-info (left);
    }

    .personnel-item-img-container {
        height: 100%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            aspect-ratio: 3/4;
        }
    }

    .personnel-item-grid-info {
        padding: var(--wp--preset--spacing--40);
        align-items: center;
        display: grid;

        &:last-of-type p:last-of-type {
            margin-bottom: 0;
        }

    }

    .personnel-item-grid-info-box {
        margin: var(--wp--preset--spacing--30) 0;
        p {
            margin: 0;
        }
    }

    .name {
        font-size: var(--wp--preset--font-size--x-large);
        margin-bottom: var(--wp--preset--spacing--30);
    }

    .title {
        line-height: 1.5;
    }

    .name, .title {
        margin-top: 0;
    }

    .dept, .num-phone, .num-cell, .email, .mailingAddress {
        font-size: var(--wp--preset--font-size--small);
        line-height: 1.5;
    }

    .mailingAddress {
        margin-top: var(--wp--preset--spacing--30);
    }

}

@media (min-width: 782px) {
    .personnel-columns {
        grid-template-columns: 1fr 1fr;
    }
    .personnel-item {
        grid-template-columns: 40% 60%;
    }
}