.wp-block-uga-caes-caes-events {
    gap: var(--wp--preset--spacing--50);
    display: flex;
    flex-direction: column;

    .caes-events-container {

        // GRID VIEW
        &.grid-layout {
            display: grid;
            gap: var(--wp--preset--spacing--50);

            // 2 COLUMNS
            &.grid-columns-2 {
                grid-template-columns: 1fr 1fr;
            }

            // 3 COLUMNS
            &.grid-columns-3 {
                grid-template-columns: 1fr 1fr 1fr;
            }

            // 4 COLUMNS
            &.grid-columns-4 {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            // ITEMS
            .caes-events-item {
                background-color: var(--wp--preset--color--base);
                color: var(--wp--preset--color--contrast);

                @include grid-item(column);

                &:hover,
                &:focus-within {
                    @include grid-item-hover;

                    .caes-events-details-wrapper {
                        .caes-events-link {
                            text-decoration: underline;
                        }
                    }
                }

                .caes-events-img-wrapper {
                    @include item-img-container (4/3, 100%);
                }

                .caes-events-details-wrapper {
                    @include grid-item-info(top);
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    gap: var(--wp--preset--spacing--30);
                    padding: var(--wp--preset--spacing--50);

                    * {
                        margin: 0;
                    }

                    .caes-events-link {
                        @include grid-item-link();
                        text-decoration: none;
                        font-weight: bold;
                        line-height: 1.5;
                    }

                    .caes-events-link-heading {
                        font-family: var(--wp--preset--font-family--oswald);
                        font-size: var(--wp--preset--font-size--x-large);
                        font-weight: 400;
                        line-height: 1.2;
                    }

                    .caes-events-event-date-wrapper {
                        display: flex;
                        align-content: center;
                        flex-wrap: wrap;
                        font-size: var(--wp--preset--font-size--large);
                        font-family: var(--wp--preset--font-family--oswald);
                    }

                }
            }

        }


        // LIST VIEW
        &.list-layout {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--wp--preset--spacing--50);

            .caes-events-item {
                background-color: var(--wp--preset--color--base);
                color: var(--wp--preset--color--contrast);

                @include grid-item(row);

                align-items: center;
                box-shadow: none;

                &:hover,
                &:focus-within {
                    @include grid-item-hover;

                    .caes-events-details-wrapper {
                        .caes-events-link {
                            text-decoration: underline;
                        }
                    }
                }

                .caes-events-img-wrapper {
                    @include item-img-container (1, 30%);
                    z-index: 1;
                    margin: 1rem 0;
                }

                .caes-events-details-wrapper {
                    @include grid-item-info(left);
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    gap: var(--wp--preset--spacing--30);
                    padding: var(--wp--preset--spacing--50);
                    justify-content: center;

                    box-shadow: 0 0 15px rgba(0, 0, 0, .05);

                    * {
                        margin: 0;
                    }

                    .caes-events-link {
                        @include grid-item-link();
                        text-decoration: none;
                    }

                    .caes-events-link-heading {
                        font-family: var(--wp--preset--font-family--oswald);
                        font-size: var(--wp--preset--font-size--x-large);
                        font-weight: 400;
                        line-height: 1.2;
                    }

                    .caes-events-title-and-event-date-wrapper {
                        display: flex;
                        display: flex;
                        align-content: center;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .caes-events-event-date-wrapper {
                            display: flex;
                            align-content: center;
                            flex-wrap: wrap;
                            font-size: var(--wp--preset--font-size--large);
                            font-family: var(--wp--preset--font-family--oswald);
                        }
                    }

                }

            }

            .caes-events-img-wrapper + .caes-events-details-wrapper {
                border: 1px solid #e5e5e5;
                margin-left: -1.5rem;
                padding-left: 3rem;
            }
        }

    }

}

// If inside of a cover block, remove border
.wp-block-cover {
    .wp-block-uga-caes-caes-events {
        .caes-events-container {
            .caes-events-item {
                .caes-events-details-wrapper {
                    border: 0;
                }
            }
        }
    }
}

// Read more link
.caes-events-read-more-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.caes-events-read-more-link {
    @include primary-button (var(--wp--preset--spacing--30) var(--wp--preset--spacing--40));
    text-decoration: none;
    display: inline-block;
}


// Mobile styles

@media (max-width:767px) {

    // Grid view
    .wp-block-uga-caes-caes-events {
        .caes-events-container.grid-layout {

            &.grid-columns-2,
            &.grid-columns-3,
            &.grid-columns-4 {
                grid-template-columns: 1fr;
            }
        }
    }


    // List view
    .wp-block-uga-caes-caes-events {
        .caes-events-container.list-layout {
            .caes-events-item {
                @include grid-item(column);

                .caes-events-img-wrapper {
                    justify-content: flex-start;
                    @include item-img-container (4/3, 100%);
                    height: auto;
                    margin: 0;
                }

                .caes-events-details-wrapper {
                    @include grid-item-info(top);
                    width: auto;
                    padding: var(--wp--preset--spacing--50);
                    margin: auto;
                }
            }
        }
    }
}