.editor-styles-wrapper .js-scroll,
.js-scroll {
  opacity: 1 !important;
}

// NAVIGATION BLOCK

.is-style-caes-fac-vertical-nav .has-child .wp-block-navigation__submenu-container,
.is-style-caes-fac-vertical-nav .wp-block-navigation__submenu-container {

  display: block;
  width: auto;
  height: auto;
  position: static;
  opacity: 1;
  visibility: visible;
  width: 95%;
  margin-top: 1rem;
  margin-left: auto;

  a {
    border-left: 2px solid var(--wp--preset--color--base-two);

  }

}

// Personnel Directory Block

.personnel-columns {
  margin-bottom: var(--wp--preset--spacing--60) !important;
}

// Helper class for hiding thumbnail captions ON FRONT END.
// This forces the caption to display in the editor so users can create captions.
.wp-block-gallery.hide-thumbnail-caption {
  figure.wp-block-image figcaption {
      display: block;
  }
}

.wp-block-image.hide-thumbnail-caption {
  figcaption {
      display: block;
  }
}

// Plugin overrides
@import '../plugin-style-overrides/tribe-events';