.wp-block-accordion-panel:not([inert]) {
    padding-block: var(--wp--preset--spacing--50);
    border-bottom: 2px solid #eaeaea;
}

.wp-block-accordion-heading__toggle-icon {
    color: #777;
    font-size: 2rem;
}