// Comment block styles

// General styles

.comment .wp-block-columns {
    background-color: var(--wp--preset--color--base-two);
    padding: var(--wp--custom--spacing--baseline);
    border-radius: var(--wp--custom--radius--small-round);
  }