// Embed block styles
// This stylesheet is only used when an embed block is on the page.

// Issuu

.wp-block-embed.wp-block-embed-issuu .issuuembed.issuu-isrendered {
    width: 100% !important;
    aspect-ratio: 3/2;
    height: unset !important;
}