<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true}} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

	<!-- wp:group {"className":"caes-fac-t-margin","layout":{"type":"flex","orientation":"vertical","inherit":true}} -->
	<div class="wp-block-group caes-fac-t-margin">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"className":"caes-fac-b-margin","layout":{"inherit":true}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true}} /-->