<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true}} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:post-content {"className":"caes-fac-b-margin","layout":{"type":"constrained"}} /-->
	<!-- wp:spacer {"height":"0px"} -->
	<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true}} /-->