<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true}} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true},"className":"caes-fac-body-padding"} -->
<main class="wp-block-group alignfull caes-fac-body-padding">

	<!-- wp:group {"align":"full","className":"caes-fac-t-margin","layout":{"type":"flex","orientation":"vertical","inherit":true}} -->
	<div class="wp-block-group alignfull caes-fac-t-margin">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","layout":{"inherit":true},"className":"caes-fac-b-margin"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true}} /-->