<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true}} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true},"className":"caes-fac-body-padding"} -->
<main class="wp-block-group alignfull caes-fac-body-padding">

	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:columns {"className":"caes-fac-post-cols","style":{"spacing":{"blockGap":"3rem"}}} -->
		<div class="wp-block-columns caes-fac-post-cols">
			<!-- wp:column {"width":"75%","className":"caes-fac-post-cols-left"} -->
			<div class="wp-block-column caes-fac-post-cols-left" style="flex-basis:75%">
				<!-- wp:group {"align":"full","className":"caes-fac-post-info","layout":{"type":"flex","orientation":"vertical"}} -->
				<div class="wp-block-group alignfull caes-fac-post-info">
					<!-- wp:post-title {"level":1} /-->
					<!-- wp:group {"className":"caes-fac-post-info-group","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","verticalAlignment":"bottom","orientation":"horizontal"}} -->
					<div class="wp-block-group caes-fac-post-info-group">
						<!-- wp:uga-caes/caes-fac-post-social-share /-->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->

				<!-- wp:post-content {"align":"full"} /-->

				<!-- wp:group {"className":"caes-fac-body-padding","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
				<div class="wp-block-group caes-fac-body-padding">
					<!-- wp:post-terms {"term":"category","prefix":"Posted in: "} /-->
					<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"align":"full","className":"caes-fac-body-padding","layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap","inherit":true}} -->
				<div class="wp-block-group caes-fac-body-padding alignfull">
					<!-- wp:post-navigation-link {"type":"previous","label":"Previous: ","showTitle":true,"className":"caes-fac-post-prev"} /-->
					<!-- wp:post-navigation-link {"showTitle":true,"label":"Next: ","className":"caes-fac-post-next"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"25%","className":"caes-fac-post-cols-right"} -->
			<div class="wp-block-column caes-fac-post-cols-right" style="flex-basis:25%">

				<!-- wp:template-part {"slug":"sidebar","tagName":"sidebar"} /-->

			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true}} /-->