<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true}} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:group {"className":"caes-fac-t-margin caes-fac-b-margin","layout":{"orientation":"vertical","inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group caes-fac-t-margin caes-fac-b-margin">
		<!-- wp:columns {"style":{"spacing":{"blockGap":"3rem"}},"className":"caes-fac-post-cols"} -->
		<div class="wp-block-columns caes-fac-post-cols">
			<!-- wp:column {"width":"75%","className":"caes-fac-post-cols-left"} -->
			<div class="wp-block-column caes-fac-post-cols-left" style="flex-basis:75%">
				<!-- wp:group {"className":"alignfull caes-fac-post-info"} -->
				<div class="wp-block-group alignfull caes-fac-post-info">
					<!-- wp:post-title {"level":1} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:post-content /-->

				<!-- wp:spacer {"height":"0px"} -->
				<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->

				<!-- wp:group -->
				<div class="wp-block-group">
					<!-- wp:post-terms {"term":"category","prefix":"Posted in: "} /-->

					<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: "} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"25%","className":"caes-fac-post-cols-right"} -->
			<div class="wp-block-column caes-fac-post-cols-right" style="flex-basis:25%">
				<!-- wp:template-part {"slug":"sidebar","theme":"caes-faculty-2023","tagName":"aside"} /-->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true}} /-->