//// Navigation block styles

// General adjustments

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.wp-block-navigation__submenu-container {
    border: 0 !important;

    li.wp-block-navigation-item,
    li.wp-block-navigation-item a {

        &:hover,
        &:focus {
            background-color: var(--wp--preset--color--background) !important;
            color: var(--wp--preset--color--foreground) !important;
        }
    }
}

// Mobile menu

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    align-items: baseline;
    width: 100%;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    gap: var(--wp--custom--spacing--half-baseline);
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
    gap: 0;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.caes-fac-navigation-two {
    padding: var(--wp--custom--spacing--four-fifths-baseline) clamp(1.2rem,0.429rem + 2.286vw,var(--wp--custom--spacing--baseline))!important;
}