@import 'reusable';

/* CAES STYLES */

main {
  overflow-wrap: break-word;
}

main,
footer {
  margin-block-start: 0 !important;
}

// Form styles

input,
select,
textarea {
  font-family: var(--wp--preset--font-family--merriweather-sans);
  border-radius: var(--wp--custom--radius--small-round);
  font-size: var(--wp--preset--font-size--normal);
  padding: 0.5rem;
  max-width: 100%;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  display: block;
  box-sizing: border-box;
  border: 1px solid #a7a3a3;
  border-radius: var(--wp--custom--radius--small-round);
}

input[type=submit] {
  @include primary-button(var(--wp--preset--spacing--30));
}

// Buttons, button blocks

.wp-block-button .wp-block-button__link {
  transition: var(--wp--custom--transition--box-hover);
}

// Iframe

iframe {
  border: 0;
  max-width: 100% !important;
}

// Body

// body.page-template-page-blank .wp-block-post-content :first-child {
//   margin-block-start: 0 !important;
// }

// Preheader

.caes-fac-preheader {
  padding: 0 !important;
}

.caes-fac-preheader-brand {
  line-height: 1;
}

.caes-fac-preheader .wp-block-group {
  gap: var(--wp--preset--spacing--30) !important;
}


.caes-fac-preheader .components-resizable-box__container,
.caes-fac-preheader-uga-logo>a {
  display: flex;
  align-items: center;
}

// Sub Footer

.caes-fac-sub-footer {
  // padding: var(--wp--preset--spacing--40) clamp(1.2rem, 0.429rem + 2.286vw, var(--wp--preset--spacing--50)) !important;

  .wp-block-loginout {
    font-size: var(--wp--preset--font-size--small);
  }
}

// Left column

.caes-fac-post-info-group {
  align-items: end !important;
}

// Right column / sidebar styles

.caes-fac-post-cols-right h2 {
  font-size: var(--wp--preset--font-size--large);
}

.caes-fac-post-cols-right h3 {
  font-size: var(--wp--preset--font-size--medium);
}

.caes-fac-post-cols-right h4 {
  font-size: var(--wp--preset--font-size--normal);
}

.caes-fac-post-cols-right h5 {
  font-size: var(--wp--preset--font-size--small);
}

.caes-fac-post-cols-right h6 {
  font-size: var(--wp--preset--font-size--tiny);
}

.caes-fac-post-cols-right .sidebar-title {
  text-align: center;
  padding: var(--wp--preset--spacing--40);
  background-color: var(--wp--preset--color--base-two);
}

// Post information

.wp-block-avatar__image,
.wp-block-post-author__avatar img {
  height: auto !important;
}

.wp-block-post-author__byline {
  font-size: var(--wp--preset--font-size--small);
}

.wp-block-post-author__bio {
  font-size: var(--wp--preset--font-size--normal);
  margin-block-start: 0;
  margin-block-end: 0;
}

// Spacing helpers

.wp-block-group.has-background:not([style*="padding"]) {
  padding: clamp(1.2rem, 0.429rem + 2.286vw, var(--wp--preset--spacing--50));
}

@media (min-width:600px) {

  .caes-fac-post-info,
  .caes-fac-post-cols-left,
  .caes-fac-post-cols-right {
    margin-top: var(--wp–preset--spacing--70) !important;
    margin-bottom: var(--wp–preset--spacing--70) !important;
  }
}

// Block editor overrides

.is-root-container.edit-site-block-editor__block-list {
  padding-left: 0;
  padding-right: 0;
}

// Media and text

.wp-block-media-text__content {
  margin-block-start: var(--wp--preset--spacing--50);
  margin-block-end: var(--wp--preset--spacing--50);
}

// Excerpt more link

a.wp-block-post-excerpt__more-link {
  font-size: var(--wp--preset--font-size--small);
  line-height: 1;
}

// Latest posts block

.wp-block-latest-posts__post-excerpt {
  font-size: var(--wp--preset--font-size--small);
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
  margin-block-start: 0.8rem;
  line-height: 1.5;
}

// RSS

li.wp-block-rss__item {
  margin-block-start: 1rem;
  line-height: 1.5;
}

.wp-block-rss__item-title {
  font-size: var(--wp--preset--font-size--medium);
}

.wp-block-rss__item-excerpt {
  margin-block-start: 0.5rem;
}

// Headshot - Quote Style

figure.caes-fac-headshot {
  max-width: 300px;
  aspect-ratio: 1/1;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  // added for editor view
  &>div {
    height: 100% !important;
  }
}

// Information and Important Notes

.important,
.information {
  .note-text {
    &::before {
      margin-top: 3px;
      content: "";
      display: block;
      height: 30px;
      width: 30px;
      background-color: var(--wp--preset--color--contrast-two);
    }
  }
}

.important {
  .note-text {
    &::before {
      -webkit-mask: url('../images/important.svg') no-repeat 50% 50%;
      mask: url('../images/important.svg') no-repeat 50% 50%;
    }
  }
}

.information {
  .note-text {
    &::before {
      -webkit-mask: url('../images/information.svg') no-repeat 50% 50%;
      mask: url('../images/information.svg') no-repeat 50% 50%;
    }
  }
}

// Grid List Styles

.grid-items {
  .grid-item {
    @include grid-item(column);
  }

  .grid-item-img-container {
    @include item-img-container(4/3, 100%);

    .components-drop-zone {
      display: none;
    }

    .components-resizable-box__container {
      height: 100% !important;
      width: 100% !important;
    }
  }

  .grid-item-grid-info {
    @include grid-item-info(top);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a:not(.wp-block-button__link) {
        // color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  &.personnel {

    .grid-item {
      width: 100%;
    }

    .grid-item-img-container {
      @include item-img-container(1, 100%);

      img {
        object-position: top;
      }
    }

    .grid-item-grid-info {
      &> div:first-child {
        gap: var(--wp--preset--spacing--40);
        &> div {
          gap: 0;
          flex-direction: column;
          align-items: flex-start;
          .title {
            line-height: 1.2;
          }
        }
        &> div:nth-child(1) {
          gap: var(--wp--preset--spacing--20);
        }
      }
    }


  }

}

.wp-block-cover {
  .grid-items {
    .grid-item-grid-info {
      border: 0;
    }
  }

}

// List block


ul.is-style-caes-fac-list-none {
  padding-inline-start: 0;
  list-style: none;
}

// Parvus is a lightbox library for images.
// Here we're importing the scss library, and adding our own overrides.

@import 'parvus/src/scss/parvus';

.parvus__slide {
  background: var(--wp--preset--color--base);
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--merriweather-sans);
}

.parvus__btn {
  background-color: var(--wp--preset--color--primary);

  &:hover {
    background-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--base);
  }
}

.parvus-zoom__indicator {
  background-color: var(--wp--preset--color--base);
  color: var(--wp--preset--color--contrast);
}

// Helper classes for adding bottom/top margins for post content areas

.caes-fac-t-margin>*:first-child:not(.wp-block-cover) {
  margin-block-start: var(--wp--preset--spacing--60) !important;
}

.caes-fac-b-margin>*:last-child:not(.wp-block-cover) {
  margin-block-end: var(--wp--preset--spacing--60) !important;
}

// Use to visually hide content that should be available to screen readers
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Class mainly used to set group blocks to 100% height of their parent column
.height-100 {
  height: 100%;
}

// JS Scroll Animations

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media print,
(prefers-reduced-motion) {
  .js-scroll {
    opacity: 1 !important;
  }

  .scrolled {
    animation: none !important;
  }
}

// Sticky-scroll class - use for sticking content on screen as user scrolls, relative to its parent container's height
@media (min-width:782px) {

  .sticky-scroll,
  .stick-scroll {
    position: sticky;
    top: 3rem;
  }
}

// PRINT STYLES

@media print {
  body {
    margin: 0;
  }

  p,
  figcaption,
  .has-base-color,
  .has-base-color a {
    color: var(--wp--preset--color--contrast) !important;
  }

  // Hidden sections
  .wp-block-search,
  .wp-block-loginout,
  .wp-block-embed,
  .wp-block-video,
  .wp-block-file object {
    display: none !important;
  }


  // Remove padding and background color for several sections
  .wp-block-group.has-background:not([style*=padding]),
  .has-global-padding,
  .wp-block-media-text__content,
  .wp-block-post-author,
  .wp-block-cover__background {
    padding: var(--wp--preset--spacing--20) !important;
    background-color: transparent !important;
  }

  // Posts

  .caes-fac-post-info-group {
    align-items: flex-start !important;
  }

  // Right column / sidebar
  .caes-fac-post-cols-right .sidebar-title {
    text-align: left;
    padding: 0;
    background-color: transparent;
  }

  // Audio block
  .wp-block-audio {
    audio {
      display: none;
    }

    figcaption.wp-element-caption {
      color: var(--wp--preset--color--contrast);
      text-align: left;
    }
  }

  // Button block
  .wp-block-button .wp-block-button__link {
    background-color: transparent !important;
    background-image: transparent !important;
    border: 2px solid var(--wp--preset--color--contrast) !important;
    color: var(--wp--preset--color--contrast) !important;
  }

  // Cover block
  .wp-block-cover-image .wp-block-cover__inner-container,
  .wp-block-cover .wp-block-cover__inner-container {
    color: var(--wp--preset--color--contrast) !important;
  }

  // Media text block
  .wp-block-media-text.is-image-fill .wp-block-media-text__media img {
    position: initial;
    width: 100%;
    height: auto;
    margin: auto;
  }

}

// Non-CAES Plugins

@import 'plugin-style-overrides/wp-job-manager';
@import 'plugin-style-overrides/wp-inventory';
@import 'plugin-style-overrides/caes-personnel-directory';
@import 'plugin-style-overrides/caes-people';
@import 'plugin-style-overrides/caes-tabs-site-shortcode';
@import 'plugin-style-overrides/wufoo-forms';